.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 0;
  padding: 21px 4px 20px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
